*.iml
/local.properties
/.idea/*
.DS_Store
/build
*/build
/captures
.externalNativeBuild

spotify-app-remote-release-0.6.3/build

# Gradle build files:
.gradle
app/build/*

# Java build files:
*.class

# Ignore any sound files for now.
*.mp3
